# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_path: '%kernel.project_dir%/var/data/data.sqlite'
    database_driver: pdo_sqlite

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~

    file_repository_url: https://example.org
    file_repository_cache_name: Void # Doctrine cache name, examples: Apcu, Void, PhpFile, Redis, Memcache, Memcached, Filesystem
    file_repository_enabled: false
    file_repository_tag: news-feed-provider

    # Secrets
    secret: ThisTokenIsNotSoSecretChangeIt
    monitoring_api_key: super-secret-api-key
    file_repository_token: xxx
    database_password: ~
    mailer_password: ~
